.clubimg {
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

.header-nav {
    display: flex;
    align-items: center;

}

.headerh {
    margin-left: 350px;
}

.club {
    color: blueviolet;
}